/* You can add global styles to this file, and also import other style files */
@import "./cedaelvaso-theme";

$primary: #ffd54f;
$accent: #424242;

body {
  margin: 0;
  background-color: $primary;
}

.mat-card {
  color: white;
  background-color: $accent;

  .mat-card-title {
    font-size: 18px !important;
  }

}
*,
*::before,
*::after {
  box-sizing: unset; // 1
}

